.title {
  color: #FFFFFF;
  text-align: center;
}

img {
  border-radius: 50px;
  max-width: 100%;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  font-size: 30px;
  color: #FFFFFF;
  font-family: 'Amatic SC', cursive;
}

.main_screen {
  margin: 0;
  background: #131313;
  overflow:hidden;
}

body {
  margin: 0;
  background: #131313;
  font-family: 'Amatic SC', cursive;
}

div {
	box-sizing: border-box;
	transition: all ease-in-out .5s;
	-moz-transition: all ease-in-out .5s;
	-webkit-transition: all ease-in-out .5s;
}
.icetab {
	border: 2px solid #08c4c4;
	display: inline-block;
	border-bottom: 0px;
	margin: 0px;
  color: #fff;
	cursor: pointer;
	border-right: 0px;
}
.icetab:last-child {
	border-right: 2px solid #08c4c4;
}

#icetab-content {
	overflow: hidden;
	position: relative;
	border-top: 2px solid #08c4c4;
}


.tabcontent {
	position: absolute;
	left: 0px;
	top: 0px;
	background: #131313;
	width: 100%;
	border-top: 0px;
	border: 2px solid #08c4c4;
	border-top: 0px;
	transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
}

.tabcontent:first-child {
	position: relative;
}
.tabcontent.tab-active {
	border-top: 0px;
	display: block;
	transform: translateY(0%);
	-moz-transform: translateY(0%);
	-webkit-transform: translateY(0%);
}
.codepen-container {
  max-width: 100%;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
}
.tabcontent {
	padding: 100px;
}
.icetab {
	padding: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.current-tab {
	background: #08c4c4;
}

a {
  color: #FFFFFF;
}
